* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
}

.profile-card {
  width: 350px;
  height: 375px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-block;
  margin: 175px auto;
}

.cover-image img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.profile-content {
  padding: 16px;
  display: block;
}

.profile-picture {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid white;
  display: inline-block;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.profile-info h2 {
  font-size: 18px;
  font-weight: bold;
  color: #2e3349;
}

.profile-info .age {
  font-size: 18px;
  color: #6b7082;
  margin-left: 8px;
}

.profile-info .location {
  font-size: 14px;
  color: #6b7082;
  margin: 8px 0;
}

.profile-stats {
  margin-top: 30px;
  text-align: center;
}

.stat {
  display: inline-block;
  margin: 0 30px;
  text-align: center;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #2e3349;
}

.stat-title {
  font-size: 10px;

  color: #6b7082;
}
